{% extends 'base.html' %}
{% load static %}

{% block page_content %}
<section id="page-content">
  <div id="project-grid">
    <div class="project">
      <img class="project-img" src="{% static 'images/default_logo.jpg' %}" alt="">
      <h1 class="project-title">Project Template</h1>
    </div>
    <div class="project">
      <img class="project-img" src="{% static 'images/default_logo.jpg' %}" alt="">
      <h1 class="project-title">Project Template</h1>
    </div>
    <div class="project">
      <img class="project-img" src="{% static 'images/default_logo.jpg' %}" alt="">
      <h1 class="project-title">Project Template</h1>
    </div>
    <div class="project">
      <img class="project-img" src="{% static 'images/default_logo.jpg' %}" alt="">
      <h1 class="project-title">Project Template</h1>
    </div>
    <div class="project">
      <img class="project-img" src="{% static 'images/default_logo.jpg' %}" alt="">
      <h1 class="project-title">Project Template</h1>
    </div>
    <div class="project">
      <img class="project-img" src="{% static 'images/default_logo.jpg' %}" alt="">
      <h1 class="project-title">Project Template</h1>
    </div>
    <div class="project">
      <img class="project-img" src="{% static 'images/default_logo.jpg' %}" alt="">
      <h1 class="project-title">Project Template</h1>
    </div>
  </div>
</section>
{% endblock %}
