{% extends 'base.html' %}
{% load static %}
{% load project_tags %}

{% block title %}Projects | {% endblock %}

{% block active_link2 %}{% endblock %}
{% block active_link3 %}{% endblock %}

{% block page_content %}
<section id="page-content">
  <!-- Project expanding section. -->
  {% for project in projects %}
  <div id="{{ project.slug }}" class="project-pane hidden">
    <div class="grid-wrapper">
      <!-- Project description. -->
      <div class="project-description">
        <h1>{{ project.title|upper }}</h1>
        {{ project.description|safe }}
        {% if project.link_github %}
        <p>
          <a class="underline" href="{{ project.link_github }}">GitHub Repository</a>
        </p>
        {% endif %}
        {% if project.link_itchio %}
        <p><a class="underline" href="{{ project.link_itchio }}">itch.io Page</a></p>
        {% endif %}
      </div>

      <!-- Project video. -->
      {% if project.video_id %}
      <div class="project-video">
        <div class="video-wrapper">
          <iframe src="https://www.youtube.com/embed/{{ project.video_id }}"
                  scrolling="no"
                  allowfullscreen=""
                  frameborder="0"></iframe>
        </div>
      </div>
      {% endif %}
    </div>

    <!-- Simple seudo-pagination. -->
    <div class="paginator">
      <a href="{% url 'index' %}">Back to Projects</a>
      <span>
        {% if forloop.first %}
        <p>prev</p> /
        {% else %}
        {% with previous_project=projects|previous:forloop.counter0 %}
        <a href="#/{{ previous_project.slug }}">prev</a> /
        {% endwith %}
        {% endif %}
        {% if forloop.last %}
        <p>next</p>
        {% else %}
        {% with next_project=projects|next:forloop.counter0 %}
        <a href="#/{{ next_project.slug }}">next</a>
        {% endwith %}
        {% endif %}
      </span>
    </div>
  </div>
  {% endfor %}

  <!-- Grid of all selectable projects. -->
  <div id="project-grid">
    {% for project in projects %}
    <a class="project" href="#/{{ project.slug }}">
      <img class="project-img"
           src="{{ project.get_thumbnail }}"
           alt="{{ project.title }} Image">
      <h1 class="project-title">{{ project.title }}</h1>
    </a>
    {% endfor %}
  </div>
</section>
{% endblock %}
