{% extends 'base.html' %}
{% load static %}

{% block page_content %}
<section id="page-content">
  <!-- Project expanding section. -->
  {% for project in projects %}
  <div id="project-pane-{{ forloop.counter }}" class="project-pane hidden">
    <h1>{{ project.title|upper }}</h1>
  </div>
  {% endfor %}

  <!-- Grid of all selectable projects. -->
  <div id="project-grid">
    {% for project in projects %}
    <a class="project"
       href="#"
       data-drawer="project-pane-{{ forloop.counter }}">
      <img class="project-img" src="{{ project.get_thumbnail }}" alt="">
      <h1 class="project-title">{{ project.title }}</h1>
    </a>
    {% endfor %}
  </div>
</section>
{% endblock %}
