<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}<title>Adam Joyce Games</title>{% endblock %}

    <!-- Favicon -->
    <link href="{% static 'images/favicon.jpg'%}" rel="shortcut icon">

    <!-- Stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400" rel="stylesheet">
    <link href="{% static 'css/reset.css' %}" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
  </head>
  <body>
    <div class="canvas">
      <header>
        <!-- Navigation -->
        <nav class="nav-bar">
          <ul>
            <li><a href="#">Projects</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>
      </header>

      {% block page_content %}
      {% endblock%}
    </div>
  </body>
</html>
