<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}Adam Joyce Games</title>

    <!-- Favicon -->
    <link href="{% static 'images/favicon.jpg'%}" rel="shortcut icon">

    <!-- Stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link href="{% static 'css/reset.css' %}" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
  </head>
  <body>
    <div class="canvas">
      <header>
        <!-- Mobile Navigation -->
        <nav class="nav-bar mobile-nav-bar">
          <!-- Drop-down Menu -->
          <div id="mobile-drawer" class="mobile-nav-wrapper drawer-closed">
            <ul>
              <li><a href="{% url 'projects' %}">Projects</a></li>
              <li><a href="{% url 'about' %}">About</a></li>
              <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
          </div>
          <!-- Drop-down Menu Button -->
          <div class="menu-toggle-wrapper">
            <div id="mobile-menu-toggle" data-drawer="mobile-drawer">
              Menu
            </div>
          </div>
        </nav>

        <!-- Logo -->
        <div id="logo">
          <h1 class="logo">
            <a href="{% url 'projects' %}">
              <img src="{% static 'images/title_logo.png' %}"
                   alt="Adam Joyce Games">
            </a>
          </h1>
        </div>

        <!-- Regular Navigation -->
        <nav class="nav-bar default-nav-bar">
          <ul>
            <li>
              <a {% block active_link1 %}class="active_link"{% endblock %}
                 href="{% url 'projects' %}">
                 Projects
              </a>
            </li>
            <li>
              <a {% block active_link2 %}class="active_link"{% endblock %}
                 href="{% url 'about' %}">
                 About
              </a>
            </li>
            <li>
              <a {% block active_link3 %}class="active_link"{% endblock %}
                 href="{% url 'contact' %}">
                 Contact
              </a>
            </li>
          </ul>
        </nav>
      </header>

      {% block page_content %}
      {% endblock%}

      <footer>
        <p>© AdamJoyceGames Copyright 2018</p>
      </footer>
    </div>

    <!-- Scripts -->
    {% block scripts %}
    {% endblock %}
    <script src="{% static 'js/smooth_scroll.js' %}"></script>
    <script src="{% static 'js/drawer.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
